# Relatório Final - ATP de Preparação e Análise Exploratória de Dados
# Curso de Tecnologia em Big Data e Inteligência Analítica
# Pontifícia Universidade Católica do Paraná (PUCPR)

`Alexandre Kovaleski Rocha` - `alexandrekovaleski7@gmail.com`

# Introdução

Nesta atividade, vamos trabalhar com um conjunto de dados da empresa Enron. A Enron foi uma das maiores empresas de energia dos Estados Unidos. No seu auge, chegou a valer 65 bilhões de dólares e ela faliu em 24 dias.  A Enron foi fundada em 1985 por Kenneth Lay com a fusão da Houston Natural Gas e da InterNorth. Anos depois, quando Jeffrey Skilling tomou posse, ele estabeleceu um conjunto de diretores que criaram entidades fictícias, relatórios financeiros fracos e contabilidades erradas, que somadas, esconderam bilhões de dólares e projetos fracassados dos investidores. O esquema foi tão complexo que nem mesmo auditorias profissionais foram capazes de identificar estes problemas, e a empresa foi investigada pelo governo norte-americano, incluindo a sua suprema corte. 
A base de dados utilizada na investigação incluía  aproximadamente 500 mil e-mails trocados por empregados da Enron.  Estes e-mails foram obtidos pela comissão regulatória de energia dos Estados Unidos durante sua investigação. A base de dados que vamos utilizar sumariza informações não apenas destes e-mails, mas também de salário e ações da bolsa de valores dos envolvidos. Além disso, os funcionários são divididos em pessoas de interesse (Person of Interest, ou POI), que participaram da fraude; e funcionários que não participaram da fraude, ou não-POIs.

## Dicas

Nesta análise e preparação de dados, nós precisamos ir além de explorações simples. Garanta que toda exploração e análise de dados seja acompanhada de uma análise crítica.

# Importando as bibliotecas

Na célula abaixo, as principais bibliotecas para análise de dados são importadas. Sinta-se a vontade para importar mais bibliotecas de acordo com sua demanda e/ou preferência, contudo, garanta que todos os comandos de `import` sejam feitos na célula abaixo.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# carregue os módulos de sua preferência aqui

In [5]:
np.__version__

'1.26.4'

In [6]:
pd.__version__

'2.2.2'

In [7]:
sns.__version__

'0.13.2'

# Carregamento de dados

Na célula abaixo é realizado o carregamento da base de dados.
Você **não** deve alterar o código apresentado.

In [2]:
df = pd.read_csv('enron.csv')

Verificando se os dados carregaram corretamente:

In [3]:
df.head(5)

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value,name
0,4175000.0,2869717.0,-3081055.0,NaN,phillip.allen@enron.com,1729541.0,13868.0,2195.0,47.0,65.0,...,152.0,False,126027.0,-126027.0,201955.0,1407.0,2902.0,4484442.0,1729541.0,ALLEN PHILLIP K
1,NaN,178980.0,NaN,NaN,NaN,257817.0,3486.0,NaN,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,182466.0,257817.0,BADUM JAMES P
2,NaN,NaN,-5104.0,NaN,james.bannantine@enron.com,4046157.0,56301.0,29.0,39.0,0.0,...,864523.0,False,1757552.0,-560222.0,477.0,465.0,566.0,916197.0,5243487.0,BANNANTINE JAMES M
3,1200000.0,1295738.0,-1386055.0,NaN,NaN,6680544.0,11200.0,NaN,NaN,NaN,...,2660303.0,False,3942714.0,NaN,267102.0,NaN,NaN,5634343.0,10623258.0,BAXTER JOHN C
4,400000.0,260455.0,-201641.0,NaN,frank.bay@enron.com,NaN,129142.0,NaN,NaN,NaN,...,69.0,False,145796.0,-82782.0,239671.0,NaN,NaN,827696.0,63014.0,BAY FRANKLIN R

# Análise descritiva de dados

Nesta etapa, você conduzirá uma análise descritiva da base de dados da Enron.

Para a base de dados como um todo, você deve reportar:
- O número de indivíduos (instâncias) na tabela;
- O número de variáveis descritivas (colunas ou atributos) destes indivíduos;
- O número de pessoas de interesse, isto é, fraudadores (POIs) e não-POIs;

Para cada uma das variáveis numéricas, você deve apresentar:
- Média
- Mediana
- Variância
- Desvio padrão
- Quartis

E para cada uma das variáveis categóricas:
- A moda
- Os valores únicos de cada variável

Além de apresentar estatísticas sobre cada variável da base de dados, a análise a ser conduzida nesta etapa requer uma análise crítica. 
Desta forma, você é convidado a extrair *insights* a partir destas estatísticas, verificando se os valores apresentados condizem ou não com a realidade.
**Lembre-se: todas estas estatísticas devem ser calculadas e apresentadas, de forma legível, no relatório fornecido na descrição da ATP.**

In [11]:
# conduza sua análise descritiva aqui
# use quantas células de código e texto forem necessárias para atender os 
# requisitos apresentados acima e a rubrica do projeto

In [12]:
# Informações sobre o dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bonus                      82 non-null     float64
 1   deferral_payments          39 non-null     float64
 2   deferred_income            49 non-null     float64
 3   director_fees              17 non-null     float64
 4   email_address              111 non-null    object
 5   exercised_stock_options    102 non-null    float64
 6   expenses                   95 non-null     float64
 7   from_messages              86 non-null     float64
 8   from_poi_to_this_person    86 non-null     float64
 9   from_this_person_to_poi    86 non-null     float64
 10  loan_advances              4 non-null      float64
 11  long_term_incentive        66 non-null     float64
 12  other                      93 non-null     float64
 13  poi                        146 non-null    bool
 14  restricted_stock           110 non-null    float64
 15  restricted_stock_deferred  18 non-null     float64
 16  salary                     95 non-null     float64
 17  shared_receipt_with_poi    86 non-null     float64
 18  to_messages                86 non-null     float64
 19  total_payments             125 non-null    float64
 20  total_stock_value          126 non-null    float64
 21  name                       146 non-null    object
dtypes: bool(1), float64(19), object(2)
memory usage: 24.2+ KB

In [13]:
# O número de indivíduos (instâncias) na tabela

n_instancia = df['name'].count()
n_instancia

146

In [14]:
# O número de variáveis descritivas (colunas ou atributos) destes indivíduos

n_atributos = df.shape[1]
n_atributos

22

In [15]:
# O número de pessoas de interesse, isto é, fraudadores (POIs) e não-POIs

n_poi = df['poi'].value_counts()

poi = {
    True: 'Não-fraudadores',
    False: 'Fraudadores'
}

for valor, total in n_poi.items():
    print(f"{poi[valor]}: {total}")

Fraudadores: 128
Não-fraudadores: 18

### Apresentação de média, mediana, variância, desvio-padrão e quartis das variáveis numéricas

In [16]:
# Selecionando apenas colunas numéricas:

colunas_numericas = df.select_dtypes(include=['number'])
colunas_numericas.head()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,4175000.0,2869717.0,-3081055.0,NaN,1729541.0,13868.0,2195.0,47.0,65.0,NaN,304805.0,152.0,126027.0,-126027.0,201955.0,1407.0,2902.0,4484442.0,1729541.0
1,NaN,178980.0,NaN,NaN,257817.0,3486.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182466.0,257817.0
2,NaN,NaN,-5104.0,NaN,4046157.0,56301.0,29.0,39.0,0.0,NaN,NaN,864523.0,1757552.0,-560222.0,477.0,465.0,566.0,916197.0,5243487.0
3,1200000.0,1295738.0,-1386055.0,NaN,6680544.0,11200.0,NaN,NaN,NaN,NaN,1586055.0,2660303.0,3942714.0,NaN,267102.0,NaN,NaN,5634343.0,10623258.0
4,400000.0,260455.0,-201641.0,NaN,NaN,129142.0,NaN,NaN,NaN,NaN,NaN,69.0,145796.0,-82782.0,239671.0,NaN,NaN,827696.0,63014.0

In [17]:
# Média das colunas numéricas com o comando .mean():

colunas_numericas.mean()

bonus                        2.374235e+06
deferral_payments            1.642674e+06
deferred_income             -1.140475e+06
director_fees                1.668049e+05
exercised_stock_options      5.987054e+06
expenses                     1.087289e+05
from_messages                6.087907e+02
from_poi_to_this_person      6.489535e+01
from_this_person_to_poi      4.123256e+01
loan_advances                4.196250e+07
long_term_incentive          1.470361e+06
other                        9.190650e+05
restricted_stock             2.321741e+06
restricted_stock_deferred    1.664106e+05
salary                       5.621943e+05
shared_receipt_with_poi      1.176465e+03
to_messages                  2.073860e+03
total_payments               5.081526e+06
total_stock_value            6.773957e+06
dtype: float64

In [18]:
# Mediana das colunas numéricas com o comando .median():

colunas_numericas.median()

bonus                          769375.0
deferral_payments              227449.0
deferred_income               -159792.0
director_fees                  108579.0
exercised_stock_options       1310813.5
expenses                        46950.0
from_messages                      41.0
from_poi_to_this_person            35.0
from_this_person_to_poi             8.0
loan_advances                41762500.0
long_term_incentive            442035.0
other                           52382.0
restricted_stock               451740.0
restricted_stock_deferred     -146975.0
salary                         259996.0
shared_receipt_with_poi           740.5
to_messages                      1211.0
total_payments                1101393.0
total_stock_value             1102872.5
dtype: float64

In [19]:
# Variância das colunas numéricas com o comando .var():

colunas_numericas.var()

bonus                        1.147754e+14
deferral_payments            2.664552e+13
deferred_income              1.620390e+13
director_fees                1.023305e+11
exercised_stock_options      9.648483e+14
expenses                     2.846594e+11
from_messages                3.389406e+06
from_poi_to_this_person      7.565389e+03
from_this_person_to_poi      1.001463e+04
loan_advances                2.216829e+15
long_term_incentive          3.531639e+13
other                        2.106124e+13
restricted_stock             1.567073e+14
restricted_stock_deferred    1.765255e+13
salary                       7.378661e+12
shared_receipt_with_poi      1.388432e+06
to_messages                  6.670344e+06
total_payments               8.445834e+14
total_stock_value            1.517708e+15
dtype: float64

In [20]:
# Desvio-padrão das colunas numéricas com o comando .std():

colunas_numericas.std()

bonus                        1.071333e+07
deferral_payments            5.161930e+06
deferred_income              4.025406e+06
director_fees                3.198914e+05
exercised_stock_options      3.106201e+07
expenses                     5.335348e+05
from_messages                1.841034e+03
from_poi_to_this_person      8.697924e+01
from_this_person_to_poi      1.000731e+02
loan_advances                4.708321e+07
long_term_incentive          5.942759e+06
other                        4.589253e+06
restricted_stock             1.251828e+07
restricted_stock_deferred    4.201494e+06
salary                       2.716369e+06
shared_receipt_with_poi      1.178318e+03
to_messages                  2.582701e+03
total_payments               2.906172e+07
total_stock_value            3.895777e+07
dtype: float64

In [21]:
# Quartis das colunas numéricas com o comando .std():

colunas_numericas.quantile([0.25, 0.5, 0.75])

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0.25,431250.0,81573.0,-694862.0,98784.0,527886.25,22614.0,22.75,10.00,1.00,1600000.0,281250.0,1215.0,254018.00,-389621.75,211816.0,249.75,541.25,394475.0,494510.25
0.50,769375.0,227449.0,-159792.0,108579.0,1310813.50,46950.0,41.00,35.00,8.00,41762500.0,442035.0,52382.0,451740.00,-146975.00,259996.0,740.50,1211.00,1101393.0,1102872.50
0.75,1200000.0,1002671.5,-38346.0,113784.0,2547724.00,79952.5,145.50,72.25,24.75,82125000.0,938672.0,362096.0,1002369.75,-75009.75,312117.0,1888.25,2634.75,2093263.0,2949846.75

### Apresentação de moda e valores únicos das variáveis categóricas

In [22]:
# Selecionando apenas colunas categóricas:

colunas_categoricas = df.select_dtypes(include=['object', 'string', 'bool'])
colunas_categoricas.head()

                email_address    poi                name
0     phillip.allen@enron.com  False     ALLEN PHILLIP K
1                         NaN  False       BADUM JAMES P
2  james.bannantine@enron.com  False  BANNANTINE JAMES M
3                         NaN  False       BAXTER JOHN C
4         frank.bay@enron.com  False      BAY FRANKLIN R

In [23]:
colunas_categoricas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   email_address  111 non-null    object
 1   poi            146 non-null    bool
 2   name           146 non-null    object
dtypes: bool(1), object(2)
memory usage: 2.6+ KB

In [24]:
# Moda das colunas categóricas com o comando .mode():

colunas_categoricas['poi'].mode()

0    False
Name: poi, dtype: bool

In [25]:
for coluna in colunas_categoricas.columns:
    print(f"\nValores únicos da coluna '{coluna}':")
    print(colunas_categoricas[coluna].unique())

Valores únicos da coluna 'email_address':
['phillip.allen@enron.com' nan 'james.bannantine@enron.com'
 'frank.bay@enron.com' 'sally.beck@enron.com' 'tim.belden@enron.com'
 'david.berberian@enron.com' 'rick.bergsieker@enron.com'
 'sanjay.bhatnagar@enron.com' 'philippe.bibi@enron.com'
 'jeremy.blachman@enron.com' 'raymond.bowen@enron.com'
 'michael.brown@enron.com' 'john.buchanan@enron.com' 'bob.butts@enron.com'
 'rick.buy@enron.com' 'christopher.calger@enron.com'
 'rebecca.carter@enron.com' 'richard.causey@enron.com'
 'diomedes.christodoulou@enron.com' 'wes.colwell@enron.com'
 'bill.cordes@enron.com' 'chip.cox@enron.com' 'joseph.deffner@enron.com'
 'david.delainey@enron.com' 'james.derrick@enron.com'
 'timothy.detmering@enron.com' 'janet.dietrich@enron.com'
 'richard.dimichele@enron.com' 'keith.dodson@enron.com'
 'jeff.donahue@enron.com' 'w.duran@enron.com' 'john.echols@enron.com'
 'steven.elliott@enron.com' 'jim.fallon@enron.com'
 'andrew.fastow@enron.com' 'jay.fitzgerald@enron.com'
 'kulvinder.fowler@enron.com' 'tracy.foy@enron.com'
 'mark.frevert@enron.com' 'kevin.garland@enron.com' 'dana.gibbs@enron.com'
 'ben.glisan@enron.com' 'joe.gold@enron.com' 'mark.haedicke@enron.com'
 'kevin.hannon@enron.com' 'david.haug@enron.com' 'robert.hayes@enron.com'
 'rod.hayslett@enron.com' 'robert.hermann@enron.com'
 'gary.hickerson@enron.com' 'joe.hirko@enron.com'
 'stanley.horton@enron.com' 'james.hughes@enron.com'
 'gene.humphrey@enron.com' 'larry.izzo@enron.com'
 'charlene.jackson@enron.com' 'vince.kaminski@enron.com'
 'steven.kean@enron.com' 'joe.kishkill@enron.com'
 'louise.kitchen@enron.com' 'mark.koenig@enron.com'
 'michael.kopper@enron.com' 'john.lavorato@enron.com'
 'kenneth.lay@enron.com' 'dan.leff@enron.com' 'richard.lewis@enron.com'
 'tod.lindholm@enron.com' 'a..martin@enron.com' 'danny.mccarty@enron.com'
 'george.mcclellan@enron.com' 'mike.mcconnell@enron.com'
 'rebecca.mcdonald@enron.com' 'jeffrey.mcmahon@enron.com'
 'mark.metts@enron.com' 'rockford.meyer@enron.com'
 'michael.moran@enron.com' 'kristina.mordaunt@enron.com'
 's..muller@enron.com' 'julia.murray@enron.com' 'cindy.olson@enron.com'
 'jere.overdyke@enron.com' 'lou.pai@enron.com' 'mark.pickering@enron.com'
 'greg.piper@enron.com' 'jim.piro@enron.com' 'ken.powers@enron.com'
 'james.prentice@enron.com' 'brian.redmond@enron.com' 'ken.rice@enron.com'
 'paula.rieker@enron.com' 'matthew.scrimshaw@enron.com'
 'jeffrey.shankman@enron.com' 'richard.shapiro@enron.com'
 'vicki.sharp@enron.com' 'rex.shelby@enron.com'
 'jeffrey.sherrick@enron.com' 'john.sherriff@enron.com'
 'jeff.skilling@enron.com' 'frank.stabler@enron.com'
 'marty.sunde@enron.com' 'mitchell.taylor@enron.com'
 'terence.thorn@enron.com' 'elizabeth.tilney@enron.com'
 'adam.umanoff@enron.com' 'rob.walls@enron.com' 'george.wasaff@enron.com'
 'dick.westfahl@enron.com' 'greg.whalley@enron.com'
 'thomas.white@enron.com' 'john.wodraska@enron.com'
 'scott.yeager@enron.com']

Valores únicos da coluna 'poi':
[False  True]

Valores únicos da coluna 'name':
['ALLEN PHILLIP K' 'BADUM JAMES P' 'BANNANTINE JAMES M' 'BAXTER JOHN C'
 'BAY FRANKLIN R' 'BAZELIDES PHILIP J' 'BECK SALLY W' 'BELDEN TIMOTHY N'
 'BELFER ROBERT' 'BERBERIAN DAVID' 'BERGSIEKER RICHARD P'
 'BHATNAGAR SANJAY' 'BIBI PHILIPPE A' 'BLACHMAN JEREMY M'
 'BLAKE JR. NORMAN P' 'BOWEN JR RAYMOND M' 'BROWN MICHAEL'
 'BUCHANAN HAROLD G' 'BUTTS ROBERT H' 'BUY RICHARD B'
 'CALGER CHRISTOPHER F' 'CARTER REBECCA C' 'CAUSEY RICHARD A'
 'CHAN RONNIE' 'CHRISTODOULOU DIOMEDES' 'CLINE KENNETH W' 'COLWELL WESLEY'
 'CORDES WILLIAM R' 'COX DAVID' 'CUMBERLAND MICHAEL S' 'DEFFNER JOSEPH M'
 'DELAINEY DAVID W' 'DERRICK JR. JAMES V' 'DETMERING TIMOTHY J'
 'DIETRICH JANET R' 'DIMICHELE RICHARD G' 'DODSON KEITH'
 'DONAHUE JR JEFFREY M' 'DUNCAN JOHN H' 'DURAN WILLIAM D' 'ECHOLS JOHN B'
 'ELLIOTT STEVEN' 'FALLON JAMES B' 'FASTOW ANDREW S' 'FITZGERALD JAY L'
 'FOWLER PEGGY' 'FOY JOE' 'FREVERT MARK A' 'FUGH JOHN L' 'GAHN ROBERT S'
 'GARLAND C KEVIN' 'GATHMANN WILLIAM D' 'GIBBS DANA R' 'GILLIS JOHN'
 'GLISAN JR BEN F' 'GOLD JOSEPH' 'GRAMM WENDY L' 'GRAY RODNEY'
 'HAEDICKE MARK E' 'HANNON KEVIN P' 'HAUG DAVID L' 'HAYES ROBERT E'
 'HAYSLETT RODERICK J' 'HERMANN ROBERT J' 'HICKERSON GARY J'
 'HIRKO JOSEPH' 'HORTON STANLEY C' 'HUGHES JAMES A' 'HUMPHREY GENE E'
 'IZZO LAWRENCE L' 'JACKSON CHARLENE R' 'JAEDICKE ROBERT'
 'KAMINSKI WINCENTY J' 'KEAN STEVEN J' 'KISHKILL JOSEPH G'
 'KITCHEN LOUISE' 'KOENIG MARK E' 'KOPPER MICHAEL J' 'LAVORATO JOHN J'
 'LAY KENNETH L' 'LEFF DANIEL P' 'LEMAISTRE CHARLES' 'LEWIS RICHARD'
 'LINDHOLM TOD A' 'LOCKHART EUGENE E' 'LOWRY CHARLES P' 'MARTIN AMANDA K'
 'MCCARTY DANNY J' 'MCCLELLAN GEORGE' 'MCCONNELL MICHAEL S'
 'MCDONALD REBECCA' 'MCMAHON JEFFREY' 'MENDELSOHN JOHN' 'METTS MARK'
 'MEYER JEROME J' 'MEYER ROCKFORD G' 'MORAN MICHAEL P'
 'MORDAUNT KRISTINA M' 'MULLER MARK S' 'MURRAY JULIA H' 'NOLES JAMES L'
 'OLSON CINDY K' 'OVERDYKE JR JERE C' 'PAI LOU L'
 'PEREIRA PAULO V. FERRAZ' 'PICKERING MARK R' 'PIPER GREGORY F' 'PIRO JIM'
 'POWERS WILLIAM' 'PRENTICE JAMES' 'REDMOND BRIAN L' 'REYNOLDS LAWRENCE'
 'RICE KENNETH D' 'RIEKER PAULA H' 'SAVAGE FRANK' 'SCRIMSHAW MATTHEW'
 'SHANKMAN JEFFREY A' 'SHAPIRO RICHARD S' 'SHARP VICTORIA T' 'SHELBY REX'
 'SHERRICK JEFFREY B' 'SHERRIFF JOHN R' 'SKILLING JEFFREY K'
 'STABLER FRANK' 'SULLIVAN-SHAKLOVITZ COLLEEN' 'SUNDE MARTIN'
 'TAYLOR MITCHELL S' 'THE TRAVEL AGENCY IN THE PARK' 'THORN TERENCE H'
 'TILNEY ELIZABETH A' 'TOTAL' 'UMANOFF ADAM S' 'URQUHART JOHN A'
 'WAKEHAM JOHN' 'WALLS JR ROBERT H' 'WALTERS GARETH W' 'WASAFF GEORGE'
 'WESTFAHL RICHARD K' 'WHALEY DAVID A' 'WHALLEY LAWRENCE G'
 'WHITE JR THOMAS E' 'WINOKUR JR. HERBERT S' 'WODRASKA JOHN'
 'WROBEL BRUCE' 'YEAGER F SCOTT' 'YEAP SOON']

In [26]:
# Valores únicos da coluna categórica "poi" com o comando .unique():

colunas_categoricas['poi'].unique()

array([False,  True])

# Análise univariada de dados

Nesta seção, você conduzirá uma análise univariada de dados.
Esta análise deve contemplar **todas** as variáveis disponíveis na base de dados, exceto o **nome do indivíduo**.
O objetivo desta etapa é identificar o comportamento das variáveis, verificando curtose e assimetria, assim como extraindo insights sobre cada variável individualmente.
Desta forma, para cada variável, trabalhe com as seguintes etapas:

* Crie um cabeçalho no relatório com o nome da variável;
* Crie visualizações univariadas (histogramas, box-plots, etc), de acordo com o tipo de dado; e
* Apresente as principais conclusões que podemos obter a partir destas visualizações.

In [27]:
# conduza sua análise univariada de dados aqui
# use quantas células de código e texto forem necessárias para atender os 
# requisitos apresentados acima e a rubrica do projeto

In [28]:
df.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value,name
0,4175000.0,2869717.0,-3081055.0,NaN,phillip.allen@enron.com,1729541.0,13868.0,2195.0,47.0,65.0,...,152.0,False,126027.0,-126027.0,201955.0,1407.0,2902.0,4484442.0,1729541.0,ALLEN PHILLIP K
1,NaN,178980.0,NaN,NaN,NaN,257817.0,3486.0,NaN,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,182466.0,257817.0,BADUM JAMES P
2,NaN,NaN,-5104.0,NaN,james.bannantine@enron.com,4046157.0,56301.0,29.0,39.0,0.0,...,864523.0,False,1757552.0,-560222.0,477.0,465.0,566.0,916197.0,5243487.0,BANNANTINE JAMES M
3,1200000.0,1295738.0,-1386055.0,NaN,NaN,6680544.0,11200.0,NaN,NaN,NaN,...,2660303.0,False,3942714.0,NaN,267102.0,NaN,NaN,5634343.0,10623258.0,BAXTER JOHN C
4,400000.0,260455.0,-201641.0,NaN,frank.bay@enron.com,NaN,129142.0,NaN,NaN,NaN,...,69.0,False,145796.0,-82782.0,239671.0,NaN,NaN,827696.0,63014.0,BAY FRANKLIN R

In [29]:
# Crie um cabeçalho no relatório com o nome da variável

df = df.rename(columns={
    "name"	:	"nome",
    "email_address"	:	"email",
    "poi"	:	"pessoa_interesse",
    "deferral_payments"	:	"pag_adiado",
    "deferred_income"	:	"renda_adiada",
    "director_fees"	:	"honorario_diretor",
    "exercised_stock_options"	:	"opcoes_acoes_exercidas",
    "expenses"	:	"despesas",
    "from_messages"	:	"mensagens_origem",
    "from_poi_to_this_person"	:	"pessoa_interesse_para_pessoa",
    "from_this_person_to_poi"	:	"de_pessoa_para_pessoa_interesse",
    "loan_advances"	:	"adiantam_emprest",
    "long_term_incentive"	:	"incentivo_longo_prazo",
    "other"	:	"outros",
    "restricted_stock"	:	"estoque_restrito",
    "restricted_stock_deferred"	:	"estoque_restrito_adiado",
    "salary"	:	"salario",
    "shared_receipt_with_poi"	:	"recibo_compart_pessoa_interesse",
    "to_messages"	:	"mensagens_destino",
    "total_payments"	:	"total_pagamentos",
    "total_stock_value"	:	"valor_total_estoque",
    "bonus"	:	"bonus"
})

In [30]:
df['salario'] = df['salario'].fillna(df['salario'].median())

##### Verificando quais colunas têm valores nulos em %

In [31]:
# Calcular a porcentagem de valores nulos por coluna
null_percentage = df.isnull().mean() * 100

# Filtrar colunas com mais de 50% de NaNs
high_null_cols = null_percentage[null_percentage > 50].sort_values(ascending=False)
high_null_cols

adiantam_emprest           97.260274
honorario_diretor          88.356164
estoque_restrito_adiado    87.671233
pag_adiado                 73.287671
renda_adiada               66.438356
incentivo_longo_prazo      54.794521
dtype: float64

##### Imputando valores nulos com a mediana da variável

In [32]:
df['incentivo_longo_prazo'] = df['incentivo_longo_prazo'].fillna(df['incentivo_longo_prazo'].median())

In [33]:
df['renda_adiada'] = df['renda_adiada'].fillna(df['renda_adiada'].median())

In [34]:
df

,bonus,pag_adiado,renda_adiada,honorario_diretor,email,opcoes_acoes_exercidas,despesas,mensagens_origem,pessoa_interesse_para_pessoa,de_pessoa_para_pessoa_interesse,...,outros,pessoa_interesse,estoque_restrito,estoque_restrito_adiado,salario,recibo_compart_pessoa_interesse,mensagens_destino,total_pagamentos,valor_total_estoque,nome
0,4175000.0,2869717.0,-3081055.0,NaN,phillip.allen@enron.com,1729541.0,13868.0,2195.0,47.0,65.0,...,152.0,False,126027.0,-126027.0,201955.0,1407.0,2902.0,4484442.0,1729541.0,ALLEN PHILLIP K
1,NaN,178980.0,-159792.0,NaN,NaN,257817.0,3486.0,NaN,NaN,NaN,...,NaN,False,NaN,NaN,259996.0,NaN,NaN,182466.0,257817.0,BADUM JAMES P
2,NaN,NaN,-5104.0,NaN,james.bannantine@enron.com,4046157.0,56301.0,29.0,39.0,0.0,...,864523.0,False,1757552.0,-560222.0,477.0,465.0,566.0,916197.0,5243487.0,BANNANTINE JAMES M
3,1200000.0,1295738.0,-1386055.0,NaN,NaN,6680544.0,11200.0,NaN,NaN,NaN,...,2660303.0,False,3942714.0,NaN,267102.0,NaN,NaN,5634343.0,10623258.0,BAXTER JOHN C
4,400000.0,260455.0,-201641.0,NaN,frank.bay@enron.com,NaN,129142.0,NaN,NaN,NaN,...,69.0,False,145796.0,-82782.0,239671.0,NaN,NaN,827696.0,63014.0,BAY FRANKLIN R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,NaN,NaN,-25000.0,108579.0,NaN,NaN,1413.0,NaN,NaN,NaN,...,NaN,False,NaN,NaN,259996.0,NaN,NaN,84992.0,NaN,WINOKUR JR. HERBERT S
142,NaN,NaN,-159792.0,NaN,john.wodraska@enron.com,NaN,NaN,NaN,NaN,NaN,...,189583.0,False,NaN,NaN,259996.0,NaN,NaN,189583.0,NaN,WODRASKA JOHN
143,NaN,NaN,-159792.0,NaN,NaN,139130.0,NaN,NaN,NaN,NaN,...,NaN,False,NaN,NaN,259996.0,NaN,NaN,NaN,139130.0,WROBEL BRUCE
144,NaN,NaN,-159792.0,NaN,scott.yeager@enron.com,8308552.0,53947.0,NaN,NaN,NaN,...,147950.0,True,3576206.0,NaN,158403.0,NaN,NaN,360300.0,11884758.0,YEAGER F SCOTT
145,NaN,NaN,-159792.0,NaN,NaN,192758.0,55097.0,NaN,NaN,NaN,...,NaN,False,NaN,NaN,259996.0,NaN,NaN,55097.0,192758.0,YEAP SOON

# Análise multivariada de dados

Nesta seção, você deverá conduzir uma análise de dados multivariada. O objetivo desta etapa é encontrar relações e/ou correlações entre as variáveis da base de dados da Enron.
Apesar de mais flexível que a etapa anterior, esta é uma das etapas mais importantes da ATP, uma vez que esta base de dados possui inúmeros relacionamentos interessantes a serem descobertos e reportados.
Nesta etapa, você deverá criar visualizações, contudo, sempre no seguinte formato:
- Apresentar uma pergunta/hipótese sobre os dados,
- Criar uma visualização que responda esta pergunta ou confirme a hipótese, e
- Análise dos dados a partir desta visualização, respondendo textualmente a pergunta/hipótese afirmada anteriormente, assim como apresentando ao leitor os principais insights obtidos a partir da visualização.

Esta etapa do projeto requer que ao menos 20 visualizações bivariadas sejam criadas. Sinta-se a vontade para utilizar gráficos de barra, box-plots, violin plots, ou demais gráficos discutidos durante o curso. Note, contudo, que a utilização dos gráficos deverá ser apropriada, isto é, o tipo de cada gráfico deve ser aderente com os tipos de dados sendo apresentados.

In [35]:
# conduza sua análise multivariada aqui
# use quantas células de código e texto forem necessárias para atender os 
# requisitos apresentados acima e a rubrica do projeto

# Visualizações efetivas

Nesta seção, você deve **escolher** e **melhorar** 5 visualizações criadas anteriormente.
A chave aqui é melhorar estas visualizações com o objetivo de apresentá-las a uma audiência que não conheça a base de dados da Enron e/ou não trabalhe com análise de dados.
**Sendo assim, garanta que o tamanho, cores, texturas e outras componentes visuais sejam bem escolhidas e utilizadas, sempre visando garantir que a informação seja passada de forma clara e correta para a audiência.**

Para cada um destas visualizações, garanta que as seguintes etapas foram seguidas:

1. Criação de visualização: Criar novamente a visualização, garantindo que ela possui título e rótulos nos eixos e legenda (caso necessário)
2. Cores: Garantir que o uso de cores é correto, de acordo com o objetivo da visualização e também com escalas de cores visando leitores daltônicos
3. Cores e tamanhos: Garantir que texturas e tamanhos são utilizados de forma correta
4. Chart junk: Garantir que a visualização possui um baixo fator de "chart junk"
5. Avaliação por pares: você deverá angariar feedback de três pessoas sobre sua visualização. Você deverá apresentar o feedback de cada pessoa, assim como deve discutir, de forma textual, se este feedback acarretou em alguma mudança de design. Você deve apresentar evidências das mudanças realizadas, isto é, a visualização **antes** e **depois** do *feedback*.
6. Descrição: cada visualização deve ser acompanhada de uma descrição que inclua as principais descobertas (*insights*) que podem ser extraídos a partir dela.

In [36]:
# crie as visualizações finais aqui
# novamente, use quantas células forem necessárias

# Conclusão

## Reflexão

Nesta seção você deve apresentar uma reflexão sobre sua atuação neste projeto e sobre os conceitos aprendidos e praticados. A idéia é apresentar (1) o que você fez bem e (2) o que você poderia ter feito diferente. Esta reflexão deve possuir ao menos 2500 caracteres (sem espaços).

```
Escreva sua resposta aqui.
```

# Referências

Adicione na célula abaixo todas as referências utilizadas durante a preparação deste relatório.

```
Adicione as referências aqui.
```

## Trabalhos futuros

Na célula abaixo, apresente ao menos 3 (três) idéias diferentes que você gostaria de atuar em um trabalho futuro com esta mesma base de dados. Elas podem incluir, por exemplo, o uso de aprendizagem de máquina para um objetivo específico, ou criar/analisar variáveis que não tivemos tempo de fazer durante a execução deste trabalho. 
Você deve fornecer **detalhes** sobre como cada idéia seria abordada, especificando as técnicas e/ou metodologia a ser seguida.
Esta seção deve possuir ao menos 2500 caracteres (sem espaços).

```
Escreva sua resposta aqui.
```

# Último passsos

1. Salve este relatório como um jupyter notebook em formato `.ipynb`
2. Salve uma cópia deste relatório como um arquivo PDF, isto é, com extensão `.pdf`
3. Compacte ambos em um único arquivo com extensão ZIP no seguinte formato:(`analise-enron-primeiro_nome-ultimo_nome.zip`)
4. Envie o seu relatório para avaliação no ambiente virtual de aprendizagem